<table class="table">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>

  <tr>
    <td class="info">停留時間</td>
    <td class="active"><%= trunkline.around_time %></td>
  </tr>
  <tr>
    <td class="success">回收日(星期)</td>
    <td class="active"><%= trunkline.recover_date %></td>
  </tr>
  <tr>
    <td class="warning">停留地點</td>
    <td class="active"><%= trunkline.full_address %></td>
  </tr>

  </tbody>
</table>
