<table class="table">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>

  <tr>
    <td class="info">時間</td>
    <td class="active"><%= trunkline.around_time %></td>
  </tr>
  <tr>
    <td class="success">回收日</td>
    <td class="active"><%= trunkline.recover_date %></td>
  </tr>
  <tr>
    <td class="warning">地址</td>
    <td class="active"><%= trunkline.full_address %></td>
  </tr>

  </tbody>
</table>
